* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #2B2F33; */
}

.menu {
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: right;
    border: 1px solid black;
    position: fixed;
    

    .menu-titulos {
        width: 80%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;   
        
        .menu-titulos-center {
            width: 50%;
            height: 100%;
            /* background-color: cadetblue; */
            background-color: rgba(0, 0, 0, 0%);
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-flow: row wrap;

            .menu-titulos-1 {
                width: 20%;
                height: 100%;
                /* background-color: tomato; */
                background-color: rgba(0, 0, 0, 0%);
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 1s;

                .menu-items {
                    color: white;
                    text-decoration: none;
                    background-color: rgba(0, 0, 0, 0%);
                }
            }

            .menu-titulos-1:hover {
                border-bottom: 1px solid white;
                background-color: rgba(0, 0, 0, 20%);
                transition: 1s;
            }
        }
    }

    .menu-midias {
        width: 10%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        /* border-left: 1px solid black; */

        .menu-midias-github, .menu-midias-linkedin {
            width: 30%;
            height: 60%;
            margin: 5%;
            background: url(./images/github-svg.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 70%;
        }

        .menu-midias-github {
            position: relative;
            background: url(./images/github-svg.svg);
            background-size: 85%;
            background-position: center;
            background-repeat: no-repeat;
            transition: 1s;
            background-size: 70%;
        }
        
        .menu-midias-github:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: url(./images/github-color.svg);
            background-size: 70%;
            background-position: center;
            background-repeat: no-repeat;
            opacity: 0;
            transition: opacity 1s;
        }
        
        .menu-midias-github:hover:before {
            opacity: 1;
        }
        

        .menu-midias-linkedin {
            position: relative;
            background: url(./images/linkedin-svg.svg);
            background-size: 85%;
            background-position: center;
            background-repeat: no-repeat;
            transition: 1s;
        }
        
        .menu-midias-linkedin:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: url(./images/linkedin-color.svg);
            background-size: 85%;
            background-position: center;
            background-repeat: no-repeat;
            opacity: 0;
            transition: opacity 1s;
        }
        
        .menu-midias-linkedin:hover:before {
            opacity: 1;
        }

    }

}

.banner {
    width: 100%;
    height: 80vh;
    background: url(./images/fundo6.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 2%;

    .banner-conteudo {
        width: 60%;
        height: 100%;
        /* background-color: brown; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        padding-top: 5%;
        padding-bottom: 5%;

        .banner-conteudo-center {
            width: 100%;
            height: 35%;
            /* background-color: tomato; */
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: row wrap;

            .banner-conteudo-subtitulo, .banner-conteudo-titulo {
                width: 100%;
                height: 33.33%;
                display: flex;
                justify-content: start;
                align-items: center;
                flex-flow: row wrap;

                .banner-conteudo-subtitulo-texto, .banner-conteudo-titulo-texto {
                    color: white;
                }

                .banner-conteudo-titulo-texto {
                    color: #2DB3F0;
                }

            }
        }
    }

    .banner-img {
        width: 40%;
        height: 100%;
        /* background-color: cadetblue; */
        display: flex;
        justify-content: center;
        align-items: center;

        .banner-img-fundo {
            width: 473px;
            height: 473px;
            /* background: url(./images/perfil.jpeg); */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            /* border-radius: 48% 52% 41% 59% / 58% 30% 70% 42%  ; */
            /* border: 0.5px solid black; */
            /* box-shadow: 0px 5px 30px 0px; */
        }
    }
}

.container-inicial {
    width: 100%;
    height: 100vh;
    background-color: #2B2F33;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;

    .container-inicial-sobre {
        width: 80%;
        height: 70%;
        background-color: #515151;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        padding: 2%;
        border: 1px solid black;
        box-shadow: 0px 0px 30px 0px;
        border-radius: 20px;

        .container-inicial-sobre-img {
            width: 30%;
            height: 100%;
            /* background-color: tomato; */
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container-inicial-sobre-conteudo {
            width: 70%;
            height: 100%;
            /* background-color: violet; */
            padding: 2%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: row wrap;

            .container-inicial-sobre-conteudo-titulo {
                width: 100%;
                height: 10%;
                /* background-color: tomato; */
                color: white;
                font-size: 2em;
                text-align: center;
            }

            .container-inicial-sobre-conteudo-texto {
                width: 100%;
                height: 90%;
                /* background-color: rgb(105, 17, 2); */
                color: white;
                font-size: 1.5em;
                text-align: center;
            }
        }
    }
}

.container-intermediario {
    width: 100%;
    height: 100vh;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 2%;

    .container-intermediario-container1 {
        width: 100%;
        height: 39%;
        background-color: tomato;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
    }

    .container-intermediario-container2 {
        width: 100%;
        height: 20%;
        background-color: goldenrod;
    }

    .container-intermediario-container3 {
        width: 100%;
        height: 39%;
        background-color: green;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
    }
}

